@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  }

  body {
    @apply bg-minerva-gray-100 text-minerva-gray-900;
    margin: 0;
    min-height: 100vh;
  }
}
